<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive">

  <ion-tab title="Friends" icon-on="ion-ios7-filing tabs-icon-top" icon-off="ion-ios7-filing-outline">
    <ion-content>
      <ion-list>
      <ion-item ng-repeat="person in friends" href="#/app/people/{{person.id}}" class="item item-thumbnail-left item-icon-right">
        <img src="http://placehold.it/150x150">
        <i class="icon ion-ios7-arrow-right"></i>
        <h2>{{person.title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="small">2 min</p>
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-tab>

  <ion-tab title="Requested" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>
  <!-- <ion-content> -->

  <!-- </ion-content> -->
</ion-view>
