<!-- <ion-view title="Login">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button class="button button-block button-positive" ng-click="fbLogin()">Login with Facebook</button>
  </ion-content>
</ion-content>
</ion-view> -->
 <ion-view title="Login">
    <ion-content>
      <!-- The content of the page -->
      <!-- The widget is created by Auth0. We don't have to add anything here -->
    </ion-content>
  </ion-view>