<ion-view title="Messages">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete"> </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <ion-refresher on-refresh="doRefresh()"
                     pulling-text="Pull to refresh..."
                     refreshing-text="Refreshing!"
                     refreshing-icon="ion-loading-c"></ion-refresher>
    <ion-list show-delete="data.showDelete">
      <ion-item ng-repeat="message in messages" ng-href="#/app/messages/:messageId"  class="item item-icon-right item-avatar">
        <img src="http://placehold.it/150x150"> <i class="icon ion-fireball positive"></i>
        <h2>{{message.title}}</h2>
        <p>{{message.description}} Hi How are you ?</p>
        <ion-delete-button class="icon ion-minus-circled" ng-click="onItemDelete(message)"></ion-delete-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>