<ion-view title="Person">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
	<ion-content class="has-header padding">
		<div class="list card">

			<div class="item item-avatar">
				<img class="rounded" src="http://placehold.it/150x150">
				<h2>Marty McFly</h2>
				<p>2 mins ago</p>
			</div>

			<div class="item item-body">

				<div class="swiper-container" id="swiper-photos">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="http://lorempixel.com/320/200/sports/"></div>

						<div class="swiper-slide">
							<img src="http://lorempixel.com/320/200/people/"></div>

						<div class="swiper-slide">
							<img src="http://lorempixel.com/300/200/food/"></div>
					</div>
				</div>
			</div>

			<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#"> <i class="icon ion-heart"></i>
					Like
				</a>
<!-- 				<a class="tab-item" href="#"> <i class="icon ion-chatbox"></i>
					Send Request
				</a> -->
			</div>
		</div>

		<div class="swiper-container padding" id="swiper-interests">
			<h4>Interests</h4>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>
			</div>
		</div>
		<div class="swiper-container padding" id="swiper-mutual-friends">
			<h4>Mutual Friends</h4>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>
			</div>
		</div>
	</ion-content>

</ion-view>