<ion-view title="Person">
	<ion-content class="has-header">
		<div class="list card">

			<div class="item item-avatar">
				<img class="rounded" src="http://placehold.it/150x150">
				<h2>Marty McFly</h2>
				<p>2 mins ago</p>
			</div>

			<div class="item item-body">

				<div class="swiper-container" id="swiper-photos">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="http://placehold.it/261x260"></div>

						<div class="swiper-slide">
							<img src="http://placehold.it/262x260"></div>

						<div class="swiper-slide">
							<img src="http://placehold.it/263x260"></div>
					</div>
				</div>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#"> <i class="icon ion-heart"></i>
					Like
				</a>
				<a class="tab-item" href="#"> <i class="icon ion-chatbox"></i>
					Send Request
				</a>
			</div>
		</div>

		<div class="swiper-container padding" id="swiper-interests">
			<h4>Interests</h4>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="rounded" src="http://placehold.it/75x75"></div>
			</div>
		</div>
		<div class="swiper-container padding" id="swiper-mutual-friends">
			<h4>Mutual Friends</h4>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>

				<div class="swiper-slide">
					<img class="circled" src="http://placehold.it/75x75"></div>
			</div>
		</div>
	</ion-content>

</ion-view>