<ion-view title="Settings">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ul class="list">

<!-- 			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Display Name</span>
					<input type="text" placeholder="Display Name"></label>
			</div> -->
			<h4 class="padding">Location</h4>
			<div class="list">

			<a href="#/app/settings/city" title="" class="item item-icon-right">
				Tokyo, Osaka truncated automatically
				<i class="icon ion-ios7-arrow-right"></i>
			</a>
			</div>

			<ul class="list">
				<h4 class="padding">Interested in</h4>
				<li class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox"></label>
					Flux Capacitor
				</li>
				<li class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox"></label>
					Flux Capacitor
				</li>
				<li class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox"></label>
					Flux Capacitor
				</li>
			</ul>
			<h4 class="padding">Chat Settings</h4>
			<li class="item item-toggle">
				HTML5
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<p class="padding">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<button class="button button-full button-assertive">
  				Full Width Block Button
			</button>

		</ul>
	</ion-content>
</ion-view>