<ion-view title="Person">
  <ion-content class="has-header">
    <div class="list card">

      <div class="item item-avatar">
        <img class="rounded" src="http://placehold.it/150x150">
        <h2>Marty McFly</h2>
        <p>2 mins ago</p>
      </div>

      <div class="item item-body">

        <div class="swiper-container" id="swiper-photos">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="http://lorempixel.com/320/200/sports/"></div>

            <div class="swiper-slide">
              <img src="http://lorempixel.com/320/200/sports/"></div>

            <div class="swiper-slide">
              <img src="http://lorempixel.com/320/200/sports/"></div>
          </div>
        </div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#"> <i class="icon ion-upload"></i>
          Upload Photos
        </a>
      </div>
      <h4>About</h4>
      <textarea name="" style="height:100px;" elastic>ecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
    </div>

    <div class="swiper-container padding" id="swiper-interests">
      <h4>Interests</h4>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="rounded" src="http://placehold.it/75x75"></div>

        <div class="swiper-slide">
          <img class="rounded" src="http://placehold.it/75x75"></div>

        <div class="swiper-slide">
          <img class="rounded" src="http://placehold.it/75x75"></div>
      </div>
    </div>
    <div class="swiper-container padding" id="swiper-mutual-friends">
      <h4>Mutual Friends</h4>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="circled" src="http://placehold.it/75x75"></div>

        <div class="swiper-slide">
          <img class="circled" src="http://placehold.it/75x75"></div>

        <div class="swiper-slide">
          <img class="circled" src="http://placehold.it/75x75"></div>
      </div>
    </div>
  </ion-content>

</ion-view>