<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.pulkit.friends" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>friends</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="FacebookConnectPlugin">
        <param name="ios-package" value="FacebookConnectPlugin" />
        <param name="onload" value="true" />
    </feature>
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
      <param name="APP_ID" value="612020265575331" />
      <param name="APP_NAME" value="friends" />
    </gap:plugin>
    <plugin name="FacebookConnectPlugin" value="FacebookConnectPlugin" />
    <access origin="https://m.facebook.com" />
    <access origin="https://graph.facebook.com" />
    <access origin="https://api.facebook.com" />
    <access origin="https://*.fbcdn.net" />
    <access origin="https://*.akamaihd.net" />
</widget>